@model ComicBook.Models.ComicBook[]

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    @foreach (var comic in Model)
    {
        <div class="col-md-3">
            @*<h4>@Html.ActionLink(comic.DisplayText,"Detail", new { id=comic.Id})</h4>*@
            @*Untuk Link -- ada tulisan DisplayText ketika diklik dia ke halaman detail -- dilempar id baru *@
            
            <a href="@Url.Action("Detail",new { id=comic.Id})">
                <h4>@comic.DisplayText</h4>
                <img src="/Images/@comic.getCoverImageName"
                     alt="@comic.getCoverImageName"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>



@*<h4>@comic.SeriesTitle</h4>*@